# =============================================
# Configuração dos Bancos de Dados
# =============================================

# --- Banco de Dados: Vivi Semi-Joias ---
DATABASE_URL_VIVI=postgresql://postgres:sua_senha@host:5432/postgres

# --- Banco de Dados: primicias ---
DATABASE_URL_PRIMICIAS=postgresql://postgres:sua_senha@host:5432/postgres

# =============================================
# Configuração do Servidor
# =============================================
PORT=3001
NODE_ENV=development
